
<div class="container mt-5">


    <EditForm Model="Customer" OnValidSubmit="OnSubmit" >
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" />

        <h3 class="text-center">
            @(CustomerId > 0 ? "Editar Cliente" : "Crear Cliente")
        </h3>

        <div class="mb-3">
            <label for="cID" class="form-label">Cédula:</label>

            @if (CustomerId > 0)
            {
                <input type="text" class="form-control" value="@Customer.Id" disabled />
            }else{
                <InputNumber class="form-control" @bind-Value="Customer.Id" />
            }
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <InputText id="name" class="form-control" @bind-Value="Customer.Name" />
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Edad:</label>
            <InputNumber id="age" class="form-control" @bind-Value="Customer.Age" />
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono:</label>
            <InputText id="phone" class="form-control" @bind-Value="Customer.Phone" />
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Dirección:</label>
            <InputText id="address" class="form-control" @bind-Value="Customer.Address" />
        </div>

        @ChildContent
        @* Pasar contenido a un componente *@

        <div class="text-center">
            <button class="btn btn-success" type="submit">
                @*Esto si tiene un valor id el boton tiene de nombre actualizar, de lo contrario tiene guardar*@
                @(CustomerId > 0 ? "Actualizar" : "Guardar")
            </button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter] public Customer Customer { get; set; }
    [Parameter] public string Titulo { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int? CustomerId { get; set; }


}